@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../images/wall-background.png");
    background-repeat: repeat;
}

#mainWindow{
    position: absolute;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -350px;
    transition: 0.5s;
    background-color: #edf2fc;
    border-radius: 30px;
    box-shadow:  12px 12px 11px #727272, -12px -12px 11px #ffffff;
}

#title{
    width: 620px;
    margin: 20px 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#mainText{
    width: 620px;
    margin: 20px 40px;
    font-size: 17px;
}

#image_wrap{
    width: 700px;
    height: auto;
    position: absolute;
}

#image{
    position: relative;
    max-width: 600px;
    max-height: 200px;
    margin: auto;
    display: block;
    border-radius: 20px;
    box-shadow:  7px 9px 5px #727272, -7px -9px 5px #ffffff;
    background-color: #ececec;
}

#buttons_list{
    position: absolute;
    margin: 20px 40px 50px 40px;
    width: 620px;
    height: 40px;
    bottom: 0px;
    display: grid;
    grid-template-columns: auto auto;
}

.button{
    user-select: none;
    cursor: pointer;
    margin: auto;
    height: 40px;
    min-width: 100px;
    padding: 0px 15px;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
    border-radius: 10px;
    background-color: #e0e0e0;
    box-shadow:  7px 9px 5px #727272, -7px -9px 5px #ffffff;
    font-size: 20px;
}
.button:hover{
    background-color: #b6b6b6;
}

#copyright{
    position: fixed;
    left: 10px;
    bottom: 10px;
}